<!DOCTYPE html>
        {% include 'header.html'%}
     
<body>     
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
              {% for message in messages %}
                <l1 style="color: orange;">{{ message }}</l1>
              {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% extends "material/base.html" %}
        {% import "material/utils.html" as util %}                
        {% block content %}
        {% endblock %}
    </div>
</body>  

   