<head>
    {% if title %}
        <title> {{ title }} - MEPOT </title>
    {% else %}
        <title> MEPOT</title>
    {% endif %}
</head>
<nav class="amber accent-4">
    <div class="nav-wrapper">
        <a href="{{ url_for('home.index') }}" class="brand-logo">MEPOT</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">         
            <form>
                <div class="input-field">
                    <input id="search" type="search" placeholder="click or search for an item...">
              <!-- <label class="label-icon" for="search"><i class="material-icons">search</i></label> -->
                </div>
          </form>
       </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">About</a></li>
          {% if current_user.is_anonymous %}
          <li><a href="{{ url_for('users.login') }}">Login</a></li>
          <li><a href="{{ url_for('users.register')}}">Register</a></li>
          <li><a href="{{ url_for('product.new_product')}}">Create Product</a></li>

          {% else %}
          <li><a href="{{ url_for('users.logout') }}">Logout</a></li>
          <li><a href="{{ url_for('users.profile') }}">{{ current_user.username}}</a></li>
          <li><a href="{{ url_for('product.new_product')}}"></a>Create Product</li>
          {% endif %}
        </ul>
    </div>
  </nav>
<hr>