{% extends "base.html" %}
{% block content %}
    <!-- <div class="row"> -->
        <div class="input-field col s6">
                <input placeholder="Username" id="username" type="text" class="validate">
                <label class="active" for="username">Username</label>
        </div>
        <div class="input-field col s6">
                <input placeholder="minimum 8 characters" id="password" type="password" class="validate">
                <label class="active" for="password">Password</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
            
    <!-- </div> -->
        
{% endblock %}